<p> ******** Now your result ********</p>

<p> Your word: <%= params[:attempt] %> </p>
<p> <%= @result[:message] %> </p>
<p> Time Taken to answer: <%= @result[:time] %> </p>
<p> this word means <%= @result[:translation] %> </p>
<p> your score <%= @result[:score] %> </p>




